@media (min-width: 1024px) {
    .swiper-button-prev,
    .swiper-button-next { 
        display: none !important;
        visibility: hidden;
        opacity: 0;
    }

}

@media (max-width: 1023px) {
    .swiper-button-prev,
    .swiper-button-next {
        display: flex !important;
        visibility: visible;
        opacity: 1;
    }
}

.RecomTitle {
    text-align: center;
    font-size: 40px;
}
