.profile-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #6A1B9A;
  border-radius: 12px;
  color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.profile-header {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
  color: #ff7e5f;
}
  .profile-card {
    background: #2c2c2c;
    color: #fff;
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .profile-username {
    font-size: 2.5rem;
    margin-bottom: 10px;
    background: linear-gradient(to right, #00ff87, #60efff);
    -webkit-background-clip: text;
    color: transparent;
  }
  
  .bookmarked-title {
    margin-top: 20px;
    font-size: 1.8rem;
    color: #ffce54;
    margin-bottom: 20px;
  }
  
  .no-bookmarks {
    text-align: center;
    font-size: 1.2rem;
    color: #ccc;
  }
  
  .bookmarked-games-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .bookmark-title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 30px;
    color: #ffd700;
  }

  .bookmark-grid {
  display: grid;
  color: #000000;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  justify-items: center;
}